<?xml version="1.0"?>

<config>
    <modules>
        <Aoe_TemplateImport>
            <version>1.1.0</version>
        </Aoe_TemplateImport>
    </modules>
    <global>
        <resources>
            <aoe_templateimport_setup>
                <setup>
                    <module>Aoe_TemplateImport</module>
                    <class>Aoe_TemplateImport_Model_Resource_Setup</class>
                </setup>
            </aoe_templateimport_setup>
        </resources>
        <blocks>
            <aoe_templateimport>
                <class>Aoe_TemplateImport_Block</class>
            </aoe_templateimport>
            <page>
                <rewrite>
                    <html>Aoe_TemplateImport_Block_Html</html>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <aoe_templateimport>
                <class>Aoe_TemplateImport_Helper</class>
            </aoe_templateimport>
        </helpers>
        <models>
            <aoe_templateimport>
                <class>Aoe_TemplateImport_Model</class>
                <resourceModel>aoe_templateimport_resource</resourceModel>
            </aoe_templateimport>
            <aoe_templateimport_resource>
                <class>Aoe_TemplateImport_Model_Resource</class>
                <entities>
                    <origin>
                        <table>aoe_templateimport_origin</table>
                    </origin>
                    <origin_store>
                        <table>aoe_templateimport_origin_store</table>
                    </origin_store>
                </entities>
            </aoe_templateimport_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <aoe_templateimport>
                    <file>aoe_templateimport.xml</file>
                </aoe_templateimport>
            </updates>
        </layout>
        <translate>
            <modules>
                <Aoe_TemplateImport>
                    <files>
                        <default>Aoe_TemplateImport.csv</default>
                    </files>
                </Aoe_TemplateImport>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Aoe_TemplateImport before="Mage_Adminhtml">Aoe_TemplateImport_Adminhtml</Aoe_TemplateImport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <aoe_templateimport_refresh>
                <schedule><cron_expr>45 * * * *</cron_expr></schedule>
                <run><model>aoe_templateimport/cron::refreshAll</model></run>
            </aoe_templateimport_refresh>
        </jobs>
    </crontab>
    <default>
        <design>
            <aoe_templateimport>
                <timeout>30</timeout>
            </aoe_templateimport>
        </design>
    </default>
</config>